/*
Name: textarea.css
Description: Expands the comments box for the grader.
Version: v1.2.0 (2023-11-12)
Source: https://github.com/isaacchua/speedgraderplus
*/

#speed_grader_comment_textarea_mount_point textarea {
	min-height: 25lh;
}
